@charset "UTF-8";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Tinos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {

  body {
    height: 100% ! important;
    width: 100% ! important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("/img/bg-mobile-fallback.jpg") #2a5555 no-repeat center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}

.btn-primary {
  background-color: #04414dda;
  border-color: #0589a3da;
}

.btn-primary:hover {
  background-color: #0589a3da;
  border-color: #04414dda;
}

.btn-primary:focus {
  background-color: #0589a3da;
  border-color: #04414dda;
}

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #04414dda;
}

.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.masthead .masthead-content h1,
.masthead .masthead-content .h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }

  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }

  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }

  .masthead .masthead-content h1,
  .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }

  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}

.social-icons {
  position: relative;
  z-index: 2;
}

.social-icons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  overflow: hidden;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.social-icons .btn i {
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.social-icons .btn span {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease, display 0.7s ease;
  white-space: nowrap;
}

.social-icons .btn:hover {
  width: 10rem;
  justify-content: center;
  padding-left: 1rem;
}

.social-icons .btn:hover span {
  opacity: 1;
  display: inline-block;
}

.social-icons .btn:hover i {
  transform: translateX(-0.5rem);
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: 0;
    right: 2.5rem;
    width: auto;
  }
}

.markdown-body {
  background-color: #292b2c;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}

.markdown-body a {
  color: #0d6efd;
  text-decoration: none;
}

.markdown-body a:hover {
  color: #fff;
  text-decoration: none;
}

.code-block-wrapper {
  position: relative;
  background-color: salmon;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: #444;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
  opacity: 0.7;
}

.copy-button:hover {
  opacity: 1;
}

.content .carousel {
  padding: 1rem;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.content .carousel .carousel-item {
  height: 100%;
  width: 100%;
  position: relative;
}

.content .carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* GAMBAR AKAN DICROP supaya penuh area */
  object-position: center;
  display: block;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #1b1b1b, #1f1e1ea6);
  pointer-events: none;
  z-index: 1;
}

.content .carousel .carousel-item .carousel-caption {
  background-color: transparent;
  position: absolute !important;
  z-index: 99 !important;
  color: #fff;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  top: 0;
  padding: 2rem;
  height: 45vh;
}

.content .carousel button {
  position: absolute;
  top: 33vh;
}

.carousel button.carousel-control-prev {
  left: 80%;
}

.carousel .btn {
  background-color: #3d3d3d;
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  position: absolute;
  z-index: 999;
}
.carousel .btn-prev {
  right: 5rem;
}
.carousel .btn-next {
  right: 2rem;
}

@media screen and (max-width: 768px) {

  .carousel button {
    padding: 2px 5px;
    font-size: 10px;
  }

  .carousel .btn-prev {
    right: 3rem;
  }
  .carousel .btn-next {
    right: 1rem;
  }

  .markdown-body {
    padding: 0.5rem;
  }

  .markdown-body h1 {
    font-size: 1.3rem;
  }

  .markdown-body h2 {
    font-size: 1.2rem;
  }

  .markdown-body h3 {
    font-size: 1.1rem;
  }

  .markdown-body h4 {
    font-size: 1rem;
  }

  .markdown-body p, a, li, tr, td {
    font-size: 0.8rem;
  }
}

.markdown-body table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', sans-serif;
}

.markdown-body table thead {
  background-color: #f8f9fa;
}

.markdown-body table th,
.markdown-body table td {
  padding: 5px 0.2rem;
  text-align: left;
  border: 1px solid #888888;
}

.markdown-body table th {
  font-weight: 600;
  color: #333;
}

.markdown-body table tbody tr:hover {
  background-color: #f1f3f5;
  transition: background 0.2s ease;
}

.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.status.active {
  background-color: #28a745;
}

.status.inactive {
  background-color: #dc3545;
}

.carousel .btn:hover {
  background-color: #fff;
  color: #3d3d3d !important;
}

.carousel button .carousel-control-next-icon {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.carousel button .carousel-control-prev-icon {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}